<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Modelrockets - Components</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/modelrockets.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  </head>
  <body>
    <!-- Navigationbar -->

    <nav class="navbar navbar-inverse navbar-expand-lg">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="../">Modelrockets</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="../">Introduction</a></li>
          <li class="active"><a href="#">Components of Modelrocket</a></li>
          <li><a href="../fuel">Manual for Rocketfuel</a></li>
          <li><a href="../virtual-rocket">Build your Virtual-Rocket</a></li>
        </ul>
      </div>
    </nav>
    <!-- Navigationbar -->


    
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <img class="imgRight" src="img/component1.jpg" width="400" height="400" alt="Bild von einem Raketenmotor">
          </div>

          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">The rocket engine</h2>
              <br>
              <p>The Rocket engine is one of the most important part of a rocket! It provides it with its upward thrust in a ratio of 1:5, that means 5 times the strength of the earth's gravitational acceleration.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-1">
            <img class="imgLeft" src="img/component2.png" alt="Gehäuse von Modellrakete" width="500" height="282">
          </div>

          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <h2 class="display-4">Case</h2>
              <br>
              <p>Not only the case privides the rocket structual stability, it also makes things easier. For example yoou can organize the interior of the rocket. You can build for each part of the rocket it's own compartent for e.g. the boardcomputer and the payload section.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <img class="imgRight" src="img/component3.jpg" alt="Fins" width="500" height="282">
          </div>

          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Fins</h2>
              <br>
              <p>Fins provide extra stability in flight for the rocket.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-1">
            <img class="imgLeft" src="img/component4.jpg" alt="Parachute" width="500" height="282">
          </div>

          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <h2 class="display-4">Parachute</h2>
              <br>
              <p>The parachute gives the rocket the ability to fall safely to earth. It's made out of a special fabric for parachutes.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <img class="imgRight" src="img/component5.jpg" alt="Rocket Boardcomputer" width="220" height="400">
          </div>

          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Boardcomputer</h2>
              <br>
              <p>The boardcomputer collects all the data and is responsible for starting and controlling the rocket inflight.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-1">
            <img src="img/component6.png" alt="Payloadsection" width="500" height="282">
          </div>

          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <h2 class="display-4">Payload section</h2>
              <br>
              <p>In the payload section you can store different objects or experiments like a small chip collecting data or a camera making picrures.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>

<!--
  <footer style="background-color: #222222; padding-top:25px; padding-bottom: 18px; float: bottom;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4 order-md-1 text-center">
          <p style="font-size: 22px; font-family: Times New Roman"><a style="color: #9d9d9d;" href="https://nydery.github.io/modelrockets">Home</a></p>
        </div>

        <div class="col-md-4 order-md-2 text-center">
          <p style="font-size: 22px; font-family: Times New Roman "><a style="color: #9d9d9d;" href="https://htl-leonding.at">Schoolwebsite</a></p>
        </div>

        <div class="col-md-4 order-md-3 text-center">
          <p style="font-size: 22px; font-family: Times New Roman "><a style="color: #9d9d9d;" href="https://www.instagram.com/htlleonding/">Instagram</a></p>
        </div>
      </div>
    </div>
  </footer>
-->
</html>
